<!DOCTYPE html>

<head>
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content=""/>
	<meta name="author" content="<%= templateProps.authorName %>"/>
	<title><%= templateProps.title %></title>

	<!-- Bundled vendor CSS files -->
	@@vendor.css

	<!-- Our compiled and merged Sass files -->
	@@app.css

	<!--
	Replace "no-js" class with "js" in case JavaScript is available.
	You can delete this when you feel the need to make use of modernizr.
	-->
	<script>(function(h){h.className = h.className.replace('no-js', 'js')})(document.documentElement)</script>

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory. -->

	<!-- Place anything custom after this. But put JS to the end of body. -->
</head>

<body>

	<!-- begin: content -->
		<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
			<a class="navbar-brand" href="index.html">Baumeister</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="index.html">Home</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="demoElements.html">Demo Elements</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="stickyFooter.html">Sticky footer</a>
					</li>
				</ul>
			</div>
		</nav>

		<main class="container">

			<h1>Bootstrap starter template</h1>
			<p class="lead">
				Use this document as a way to quickly start any new project.
				<br>All you get is this text and a mostly barebones HTML document.
			</p>
			<p>
				Borrowed from the <a href="https://getbootstrap.com/docs/4.0/examples/starter-template/">Bootstrap starter template</a>.
			</p>

		</main>

	<!-- end: content -->

	<!-- Vendor JS -->
	@@vendor.js

	<!-- Own JS -->
	@@app.js

<!-- External scripts (eg. analytics) should be placed here -->
</body>
</html>
